.app {
  &__header {
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    width: 60px;
    margin-right: 1rem;
  }

  &__link {
    margin-left: auto;
    text-decoration: none;
  }
}
