.collapse {
  &__header {
    border-bottom: 1px solid #d3dbe3;
  }

  &__button {
    background: none;
    border: none;
    outline: inherit;
    padding: 8px 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 2px 1px 0 darken(#dce3ea, 5);
    }

    &:after {
      content: '';
      position: absolute;
      right: 4px;
      width: 24px;
      height: 24px;
      background: url(../../assets/svg/chevron-right.svg) no-repeat center;
      transform: rotate(-90deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  &__body {
    padding: 10px;
    position: relative;
  }

  &_hidden {
    .collapse__button:after {
      transform: rotate(90deg);
    }
    .collapse__body {
      display: none;
    }
  }
}
